@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-repeat: no-repeat;
    
}

header {

    display: flex;
    justify-content: center;
    height: 120px;
}

.container {

    display: flex;
    justify-content: space-between;
    width: 990px;

}

.logo {

    display: flex;
    align-items: center;

}

.logo img {

    width: 140px;
    padding: 20px;

}

.menu {

    display: flex;
    align-items: center;

}

nav ul, nav li {

    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul {

    display: flex;

}

nav a {

    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

nav .active a, 
nav a:hover {

    background-color: #ac7f7c;
    color: white;

}

#banner {

    display: flex;
    justify-content: center;
    background-image: url('https://cdn1.valuegaia.com.br/gaiasite/12291/TEMA.TOPO_URL/6aa0d8582d88970089410899e9ce501f-cl1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;

}

.column {

    flex-direction: column;

}

.banner_headline {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noto Sans KR', Arial, cursive;
    text-transform: uppercase;
    

}

.banner_headline h1 {

    color: white;
    font-size: 50px;
    text-shadow: 1px 2px 0 black;

}

.banner_headline h2 {

    color: #d8aaa7;
    font-size: 19px;
    text-shadow: 0 3px 5px black;

}

.banner_description {

    background-color: rgb(172, 127, 124, 0.8);
    height: 180px;
    font-family: 'Abel', Arial, cursive;
    padding: 10px 20px;
    color: white;

}

#video {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.video-container {

    background-color: rgb(172, 127, 124);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 990px;
    height: 360px;
    padding: 10px 0;
    border-radius: 0 0 25px 25px;

}

#curiosities {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.curiosities-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 990px;
    padding: 0 20px;

}

.curiosities-container h2 {
    
   padding: 15px 0;
   font-family: 'Noto Sans KR', Arial, cursive;

}

.curiosities-container ul li {
    
    padding: 5px 5px;
    font-family: 'Abel', Arial, cursive;;
 
 }

 .curiosities-container ul li:nth-child(2n+1) {
    
    background-color: rgb(212, 166, 163);
    border-radius: 5px;
 
 }

.media-social {

    
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;

}

.media-social img {

    max-width: 50px;
    margin: 0 20px;

}