* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer';
}

body header {

    background-color: black;
    grid-area: header;

}

body img {
    width: 300px;
}

body aside {

    height: 400px;
    background-color: crimson;
    grid-area: aside;
    
}

body main {

    background-color: deepskyblue;
    grid-area: main;

}

body footer {

    background-color: olivedrab;
    grid-area: footer;

}